div{
    background-color: rgb(0, 102, 255);
}
.task-done
{
    text-decoration: line-through;
    text-decoration-color: green;
    text-decoration-style: solid;
}
button{
    background-color : greenyellow;
}